<div class="w-full py-6 flex justify-start items-start gap-6">
    <div class="flex gap-6 w-full" >

      <div class="form-group w-full">
        <%= f.label 'Item', class: ' text-gray-700 gap-6' %>
        <%= f.collection_select :iten_id, produtos(selected_produto: Iten.all.first), :id, :descricao, {}, class: 'form-control-input', autofocus: true %>
      </div>

      <div class="form-group w-full">
        <%= f.label 'Funcionário', class: ' text-gray-700' %>
        <%= f.collection_select :funcionario_id, funcionarios(selected_funcionario: Funcionario.all.first), :id, :nome, {}, class: 'form-control-input' %>
      </div>

      <div class="form-group w-full">
        <%= f.label 'Horário', class: ' text-gray-700' %>
        <%= f.text_field :horario_venda, class: 'form-control-input', value: @venda.persisted? ? @venda.created_at : Time.now, disabled: true %>
      </div>

      <div class="form-group w-full">
        <%= f.label 'total', class: ' text-gray-700' %>
        <%= f.text_field :total, class: 'form-control-input'%>
      </div>

  </div>
</div>