#sidebar{class: 'flex w-[5%] h-full fixed bg-green-600 flex-col justify-start items-center z-10 '}

  = link_to root_path do
    %div{class: "w-12 h-12 p-3 bg-stone-100 rounded-md shadow justify-start items-start gap-2.5 flex my-4 cursor-pointer"}
      = heroicon 'home', options: { class: "w-6 h-6 relative text-green-600"}
  %div{class: "flex w-12 h-0.5 relative"}
    %div{class: "w-12 h-0.5 left-0 top-0 absolute bg-stone-100"}
  = heroicon 'chevron-right', options: { class: "mt-6 w-6 h-6 relative text-green-700"}
  = link_to produtos_path do
    %div{class: "flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
      = heroicon 'shopping-bag', options: { class: "w-6 h-6 relative text-white"}
  = link_to vendas_path do
    %div{class: "flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
      = heroicon 'shopping-cart', options: { class: "w-6 h-6 relative text-white"}
  = link_to funcionarios_path do
    %div{class: "flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
      = heroicon 'user-group', options: { class: " w-6 h-6 relative text-white"}

  = link_to fornecedores_path do
    %div{class: "flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
      = heroicon 'inbox-stack', options: { class: " w-6 h-6 relative text-white"}


  %div{class: "mt-auto space-y-3 flex flex-col items-end"}

    = link_to backup_path do
      %div{class: "flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
        = heroicon 'inbox-arrow-down', options: { class: " w-6 h-6 relative text-white"}

    = button_to destroy_funcionario_session_path, method: :delete, form: { class: "" } do
      %div{class: "group flex w-12 h-12 p-3 hover:bg-green-700 hover:rounded-md hover:shadow justify-start items-start gap-2.5 cursor-pointer my-3"}
        = heroicon 'arrow-right-on-rectangle', options: { class: " w-6 h-6 relative text-white group-hover:text-red-500"}
